<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div> Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo%></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
</section>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/add">
    <label>Destination</label>
    <select name="destinations">
        <option value="Austin">Austin</option>
        <option value="Dallas">Dallas Fort Worth</option>
        <option value="Denver">Denver</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="San Francisco">San Francisco</option>
    </select>
    <label>Airport:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <br><br><label>Arrival:</label>
    <input type="datetime-local" name="arrivals" value="2024-03-15T19:30" min="2025-03-15T00:00" max="2035-06-14T00:00" >
    <button type="submit">Add Destination</button>
</form>

<% if(flight.destinations.length) { %>
    <table>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Airport</th>
                <th>Arrivals</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.destinations %></td>
                    <td><%= d.airport %></td>
                    <td><%= d.arrivals.toDateString() %></td>
                </tr>    
            <% }) %>
        </tbody>
    </table>

<% } else { %>
    <h5>No Flights Yet</h5>
<% } %>

<a href='/flights/<%= flight._id %>/Tickets/new'>New Ticket</a>

<%- include('../partials/footer') %>












